@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:ital,wght@1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style-type: none;
  font-family: "Libre Baskerville", serif;
  color: white;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
  transition: 0.2s;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}
